{%extends 'frontend/base.html'%}

{%load static%}
{%block content%}
  <main id="main">

    <!-- ======= Portfolio Details ======= -->
    <div id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row">

          <div class="col-lg-8">
            <h2 class="portfolio-title">{{work.name}}</h2>

            <div class="portfolio-details-slider swiper-container">
              <div class="swiper-wrapper align-items-center">

                <div class="img-fluid">
                  <img src="/media/{{work.image}}" class="img-fluid" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>

          </div>

          <div class="col-lg-4 portfolio-info">
            <h3>Project information</h3>
            <ul>
              <li><strong>Category</strong>: {{work.category}}</li>
              <li><strong>Client</strong>: {{work.client}}</li>
              <li><strong>Project date</strong>: Unavailable</li>
              <li><strong>Project URL</strong>: <a href="{{work.link}}">{{work.link}}</a></li>
            </ul>

            <p>
              {{work.description}}</p>
          </div>

        </div>

      </div>
    </div><!-- End Portfolio Details -->

  </main>{%endblock%}<!-- End #main -->