{%extends 'frontend/base.html'%}
{%block nav%}
<ul class="custom-menu">
  <li><a href="{% url 'home'%}">Home</a></li>
  <li><a href="{%url 'about'%}">About Me</a></li>
  <li><a href="{%url 'services'%}">Services</a></li>
  <li class="active"><a href="{%url 'works'%}">Works</a></li>
  <li><a href="{%url 'contact'%}">Contact</a></li>
</ul>{%endblock%}
{%block content%}
{%load static%}

<main id="main">

  <!-- ======= Works Section ======= -->
  <section class="section site-portfolio">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
          <h2>My works</h2>
          <p class="mb-0">The best projects I've worked on.</p>
        </div>
        <div class="col-md-12 col-lg-6 text-start text-lg-end" data-aos="fade-up" data-aos-delay="100">
          <div id="filters" class="filters">
            <a href="#" data-filter="*" class="active">All</a>
            <a href="#" data-filter=".web">Web</a>
            <a href="#" data-filter=".mobile">Mobile</a>
            <a href="#" data-filter=".design">Design</a>
          </div>
        </div>
      </div>
      <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
        {% for work in works %}
        <div class="item {{work.category}} col-sm-6 col-md-4 col-lg-4 mb-4">
          <a href="{%url 'work-single' id=work.id%}" class="item-wrap fancybox">
            <div class="work-info">
              <h3>{{work.name}}</h3>
              <span>{{work.category}}</span>
            </div>
            <img class="img-fluid" src="/media/{{work.image}}">
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{%endblock%}